<div class="col-sm-6 col-md-4 col-lg-4 topic-item">
    <div class="topic-button">
      <label>
        <input type="checkbox" value="<%= topic.id %>"><span><%= topic.name %></span>
      </label>
    </div>
  </div>