<div class="blog-sum-grid-container">
    <div class="blog-sum-social">
      <p>
        <i class="far fa-comment-alt"></i></i> <a href="#">3 Comments</a> |
        <i class="far fa-eye"></i> <a href="#">39 Views</a>
      </p>
    </div>
    <div class="blog-sum-title">
      <h3>Blog Title</h3>
    </div>
    <div class="blog-sum-statistics">
      <p>
        <i class="far fa-user"></i> by <a href="#">User</a> |
        <i class="far fa-calendar"></i> Sept 16th, 2012
        <p>
          <i class="icon-tags"></i> Tags :
        <a href="#"><span class="label label-info">Snipp</span></a>
        <a href="#"><span class="label label-info">Bootstrap</span></a>
        <a href="#"><span class="label label-info">UI</span></a>
        <a href="#"><span class="label label-info">growth</span></a>
        </p>
      </p>
    </div>
    <div class="blog-sum-profile-img">
      <img src="http://placehold.it/140x140" alt="">
    </div>
</div>