<footer class="navbar-dark text-center navbar-fixed-bottom footer">
    <p class="text-center">Copyright &copy; Powered by Daniel Dominique - s3745409, Tu Lan - s3652591 | {Friday Anto's 16:30-18:30 & Wednestday Alex's 18:30-20:30} | {Anto&Alex}</p>
  </nav>
</footer>