<footer class="navbar-dark text-center navbar-fixed-bottom footer">
    <p class="text-center">Copyright &copy; Powered by Daniel Dominique - s3745409, Tu Lan - s3652591 | {tute group} | {tutor name}</p>
  </nav>
</footer>