<div class="container">
    <div class="row post_summary">
      <div class="psum post-img">
        <%= image_tag(apost.user.image.to_s, :class => "avatar3") if apost.user.image.present? %>
      </div>
      <div class="psum post-detail">
        <div class="container">
          <%= link_to "Title", "#", class:"row post-head" %>
          <div class="row post-det">
            <span class="det-items">Name</span>
            <span class="det-items">Date</span>
            <span class="det-items">Topic</span>
          </div>
        </div>
      </div>
      <div class="psum post-social">
        <span>
          <i class="fa fa-commenting-o" aria-hidden="true"></i>
          count
        </span>
        <span>
          <i class="fa fa-eye" aria-hidden="true"></i>
          count
        </span>
      </div>
    </div>
  </div>
