<div class="container">
    <div class="row post_summary">
      <div class="psum post-img">
        <img src="https://via.placeholder.com/90" alt="">
      </div>
      <div class="psum post-detail">
        <div class="container">
          <div class="row post-head">title</div>
          <div class="row post-det">
            <span class="det-items">Name</span>
            <span class="det-items">Date</span>
            <span class="det-items">Topic</span>
          </div>
        </div>
      </div>
      <div class="psum post-social">
        <span>
          <i class="fa fa-commenting-o" aria-hidden="true"></i>
          count
        </span>
        <span>
          <i class="fa fa-eye" aria-hidden="true"></i>
          count
        </span>
      </div>
    </div>
  </div>
