      <div class="side-post-item row">
          <span class="title col-sm-8">Post titles</span>
          <span class="view-count col-sm-4"><i class="fa fa-eye" aria-hidden="true"></i> 36</span>
      </div>
